/* Wishlist ausblenden nur bei bestimmten Artikeln */
body[data-article-number="LENA-S"]
  #productDetailPageBuyProductForm
  .btn.header-actions-btn,
body[data-article-number="LENA-F-AAA"]
  #productDetailPageBuyProductForm
  .btn.header-actions-btn,
body[data-article-number="TTH-ST-AR"]
  #productDetailPageBuyProductForm
  .btn.header-actions-btn,
body[data-article-number="TTH-ST-BO"]
  #productDetailPageBuyProductForm
  .btn.header-actions-btn,
body[data-article-number="TTH-ST-CO"]
  #productDetailPageBuyProductForm
  .btn.header-actions-btn,
body[data-article-number="TTH-R"]
  #productDetailPageBuyProductForm
  .btn.header-actions-btn,
body[data-article-number="TTH-AR"]
  #productDetailPageBuyProductForm
  .btn.header-actions-btn,
body[data-article-number="TTH-GY"]
  #productDetailPageBuyProductForm
  .btn.header-actions-btn,
body[data-article-number="TTH-BO"]
  #productDetailPageBuyProductForm
  .btn.header-actions-btn,
body[data-article-number="TTH-CO"]
  #productDetailPageBuyProductForm
  .btn.header-actions-btn,
body[data-article-number="SPARK-SI"]
  #productDetailPageBuyProductForm
  .btn.header-actions-btn,
body[data-article-number="TTH-LG"]
  #productDetailPageBuyProductForm
  .btn.header-actions-btn,
body[data-article-number="RH-K"]
  #productDetailPageBuyProductForm
  .btn.header-actions-btn,
body[data-article-number="RH-LG"]
  #productDetailPageBuyProductForm
  .btn.header-actions-btn,
body[data-article-number="RH-ST-R"]
  #productDetailPageBuyProductForm
  .btn.header-actions-btn,
body[data-article-number="RH-ST-R"]
  #productDetailPageBuyProductForm
  .btn.header-actions-btn,
body[data-article-number="LENA-ST-AAA"]
  #productDetailPageBuyProductForm
  .btn.header-actions-btn,
body[data-article-number="RH-R"]
  #productDetailPageBuyProductForm
  .btn.header-actions-btn,
body[data-article-number="RH-LG"]
  #productDetailPageBuyProductForm
  .btn.header-actions-btn,
body[data-article-number="RH-LB"]
  #productDetailPageBuyProductForm
  .btn.header-actions-btn,
body[data-article-number="TTH-ST-LB"]
  #productDetailPageBuyProductForm
  .btn.header-actions-btn,
body[data-article-number="TTH-ST-O"]
  #productDetailPageBuyProductForm
  .btn.header-actions-btn,
body[data-article-number="TTH-ST-R"]
  #productDetailPageBuyProductForm
  .btn.header-actions-btn,
body[data-article-number="TTH-ST-K"]
  #productDetailPageBuyProductForm
  .btn.header-actions-btn,
body[data-article-number="TOM-K"]
  #productDetailPageBuyProductForm
  .btn.header-actions-btn {
  visibility: hidden !important;
}
